* {
    padding: 0;
    margin: 0;
}


p {
    color: blue;
}

span {
    color: red;
}

.p-selector {
    color: brown;
}

p[title] {

    color: aqua;
}

p > span {
    color: green;
}

a:hover {
    color: brown;
    font-family: 'Courier New', Courier, monospace;
}